In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\hp\Downloads\Indian Startup.csv')
df

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC",35000000.00,Series B,Dec-21,NaN,NaN,NaN
1,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,40000000.00,NaN,Dec-21,NaN,NaN,NaN
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures",40000000.00,Series B,Dec-21,NaN,NaN,NaN
3,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,50000000.00,NaN,Dec-21,NaN,NaN,NaN
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,4900000.00,Series A,Dec-21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1204,HobSpace,2019.0,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks",100000.00,Pre-series A1,Jan-21,NaN,NaN,NaN
1205,DcodeAI,2020.0,New Delhi,EdTech,EMPOWER LEARNERS TO BE FUTURE READY USING AI,"Kartik Sharma, Ashish Aggarwal",S Chand,500000.00,NaN,Jan-21,NaN,NaN,NaN
1206,Biocon Biologics,1978.0,Bangalore,BioTechnology,Biocon is a fully integrated pure play biosimi...,Kiran Mazumdar-Shaw,"Goldman Sachs, Tata Capital",70000000.00,NaN,Jan-21,NaN,NaN,NaN
1207,KiranaKart,2020.0,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,720000.00,Pre-seed,Jan-21,NaN,NaN,NaN
1208,Meddo,2018.0,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool",3000000.00,Pre-series A,Jan-21,NaN,NaN,NaN

In [2]:
df.isnull().sum()

Company/Brand       0
Founded             1
Headquarters        1
Sector              0
What it does        0
Founder/s           4
Investor/s         63
Amount              7
Stage             428
Date                0
Unnamed: 10      1209
Unnamed: 11      1209
Unnamed: 12      1209
dtype: int64

In [3]:
df.shape

(1209, 13)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   Headquarters   1208 non-null   object
 3   Sector         1209 non-null   object
 4   What it does   1209 non-null   object
 5   Founder/s      1205 non-null   object
 6   Investor/s     1146 non-null   object
 7   Amount         1202 non-null   object
 8   Stage          781 non-null    object
 9   Date           1209 non-null   object
 10  Unnamed: 10    0 non-null      float64
 11  Unnamed: 11    0 non-null      float64
 12  Unnamed: 12    0 non-null      float64
dtypes: float64(4), object(9)
memory usage: 122.9+ KB

In [5]:
# only founded clumn has numerical data value
df['Founded'].mean()

2016.6556291390727

In [6]:
#fillna jaha par gaps honge vaha value bharna

df['Founded'].fillna('a',inplace = True)

In [7]:
df.isnull().sum()

Company/Brand       0
Founded             0
Headquarters        1
Sector              0
What it does        0
Founder/s           4
Investor/s         63
Amount              7
Stage             428
Date                0
Unnamed: 10      1209
Unnamed: 11      1209
Unnamed: 12      1209
dtype: int64

In [8]:
df

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC",35000000.00,Series B,Dec-21,NaN,NaN,NaN
1,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,40000000.00,NaN,Dec-21,NaN,NaN,NaN
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures",40000000.00,Series B,Dec-21,NaN,NaN,NaN
3,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,50000000.00,NaN,Dec-21,NaN,NaN,NaN
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,4900000.00,Series A,Dec-21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1204,HobSpace,2019.0,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks",100000.00,Pre-series A1,Jan-21,NaN,NaN,NaN
1205,DcodeAI,2020.0,New Delhi,EdTech,EMPOWER LEARNERS TO BE FUTURE READY USING AI,"Kartik Sharma, Ashish Aggarwal",S Chand,500000.00,NaN,Jan-21,NaN,NaN,NaN
1206,Biocon Biologics,1978.0,Bangalore,BioTechnology,Biocon is a fully integrated pure play biosimi...,Kiran Mazumdar-Shaw,"Goldman Sachs, Tata Capital",70000000.00,NaN,Jan-21,NaN,NaN,NaN
1207,KiranaKart,2020.0,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,720000.00,Pre-seed,Jan-21,NaN,NaN,NaN
1208,Meddo,2018.0,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool",3000000.00,Pre-series A,Jan-21,NaN,NaN,NaN

In [9]:
df[['Founded','Sector']]

     Founded                            Sector
0     2015.0                        E-learning
1     2012.0                  Food & Beverages
2     2015.0                 Consumer Services
3     2018.0  Venture Capital & Private Equity
4     2021.0                Financial Services
...      ...                               ...
1204  2019.0                            EdTech
1205  2020.0                            EdTech
1206  1978.0                     BioTechnology
1207  2020.0                        E-commerce
1208  2018.0                        Healthcare

[1209 rows x 2 columns]

In [10]:
df.isnull().sum()

Company/Brand       0
Founded             0
Headquarters        1
Sector              0
What it does        0
Founder/s           4
Investor/s         63
Amount              7
Stage             428
Date                0
Unnamed: 10      1209
Unnamed: 11      1209
Unnamed: 12      1209
dtype: int64

In [11]:
df['Founded']

0       2015.0
1       2012.0
2       2015.0
3       2018.0
4       2021.0
         ...
1204    2019.0
1205    2020.0
1206    1978.0
1207    2020.0
1208    2018.0
Name: Founded, Length: 1209, dtype: object

In [12]:
df['Founded'].median()

TypeError: could not convert string to float: 'a'